FrameSync/Library/
FrameSync/Logs/
FrameSync/UserSettings/
FrameSync/.vscode/
FrameSync/Temp/
FrameSync/obj/
Server/FrameSyncServer/.vs/
Server/FrameSyncServer/FrameSyncServer/bin/
Server/FrameSyncServer/FrameSyncServer/obj/
Server/FrameSyncServer/FrameSyncProtocol/obj/
Server/FrameSyncServer/FrameSyncProtocol/bin/
